:root {
    --m-color: #fba414;
    --btn-color-a: #eb7410;
    --btn-color-b: #fb9010;
    --m-color-20t: #fba41420;
    --m-color-40t: #fba41440;
    --background-color: #5f5f5f;
    --card-background: rgba(255, 255, 255, 0.9);
    --title-color: #333;
}