@media (max-width: 768px) {
    .card {
        padding: 1.2rem;
    }

    h2 {
        font-size: 1.4rem;
    }
}

@media (max-width: 480px) {
    .container img {
        height: 24px;
        margin: 3px;
    }

    ul {
        padding-left: 24px;
    }
}